@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
    background-color: #fff;
    position: fixed;
    width: 100%;
}

.header__top {
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    line-height: 28px;
    border-bottom: 1px solid #e3e3e3;
}

.header__top--items {
    display: flex;
    justify-content: space-between;
}

.mode {
    padding-left: 20px;
    position: relative;

    &::after {
        font-family: 'icomoon' !important;
        content: "\e952";
        position: absolute;
        top: 0;
        left: 0;
        color: #000;
    }
}


.menu__popup {}

.visually-hidden {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.button {
    display: block;
    background-color: rgb(152, 192, 77);
    border: 1px solid rgb(152, 192, 77);
    color: #fff;
    border-radius: 8px;

    line-height: 28px;


    &:hover {

        color: #000;
        background-color: #fff;
    }
}

.logo__btn {
    width: 100%;
    padding: 0 15px;
    position: relative;
    font-size: 18px;
    font-weight: 500;

    &::after {
        font-family: 'icomoon' !important;
        content: "\e9bd";
        position: absolute;
        top: 0;
        left: 10px;
    }
}

.menu__list+.menu__list {
    margin-left: 20px;
}

.menu__link {}


.users {
    display: flex;
    justify-content: space-between;
}

.users__list+.users__list {
    margin-left: 20px;
}

.users__list {

    padding: 0 15px;


}

.button__popup {
    position: relative;

    &::before {
        font-family: 'icomoon' !important;

        position: absolute;
        top: -5px;
        right: -20px;
        content: "\ea50";
        font-size: 18px;
        transform: rotate(180deg);
        font-weight: 700;

    }
}

.whatsapp {
    padding-left: 35px;
    position: relative;

    &::after {
        font-family: 'icomoon' !important;
        content: "\ea93";
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 18px;

    }
}

.entrance {}

.basket {
    padding-left: 35px;
    position: relative;

    &::after {
        font-family: 'icomoon' !important;
        content: "\e93a";
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 18px;

    }
}


.header__bottom {
    display: flex;
    justify-content: space-between;
}

.logo {

    padding-left: 30px;

}

.search {

    width: 570px;
    margin-top: 20px;
    position: relative;

    form {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    .input {
        z-index: 1;
        position: relative;
    }

    .search__control {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}

.search [type="text"] {
    padding: 0 15px;
    width: 521px;
}

input.form-control {
    height: 50px;
    line-height: 48px;
}

.field-label {
    position: absolute;
    left: 12px;
    top: 16px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #abbcc8;
    padding-right: 12px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transition: top .1s linear, color .1s linear;
    -o-transition: top .1s linear, color .1s linear;
    transition: top .1s linear, color .1s linear;
    z-index: 4;
    width: 100%;
    padding-right: 24px;
}

.search [type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    border: 1px solid #000;
    background: #fff;
    z-index: 4;
    background: url(../images/search.png) no-repeat left center;


}


.phone {
    margin-top: 5px;

}

.phone__number {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 3px;


}

.phone-icon {
    position: relative;

    &::after {
        font-family: 'icomoon' !important;
        content: "\e958";
        position: absolute;
        top: 0;
        left: 15px;


    }
}

.mail-icon {
    position: relative;

    &::after {
        font-family: 'icomoon' !important;
        content: "\e945";
        position: absolute;
        top: 0;
        left: 15px;


    }
}

.phone__link {
    color: #03a9f4;
    display: block;
    padding-left: 40px;
    margin-bottom: 5px;
}

@import "media";